Package: com.github.linux-hub-subpixel.license-dbgsym
Package-Type: ddeb
Source: com.github.linux-hub-subpixel.license
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Mirko Brombin <send@mirko.pm>
Installed-Size: 58
Depends: com.github.linux-hub-subpixel.license (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for com.github.linux-hub-subpixel.license
Build-Ids: cf1e7637e3fa9d34ce0d269feedff353c1e7954c
